body {
    background-color: whitesmoke;
    border: 3px solid lightgray;
    border-radius: 10px;
}

#header {
    background-color: lightgray;
}

#title-1 {
    color: gray;
    font-size: 50px;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#title-1.hover,#title-1:hover {
    text-transform: uppercase;
}

#title-2 {
    color: darkgray;
    font-size: 50px;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#title-2.hover,#title-2:hover {
    text-transform: uppercase;
}

#credits {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: darkgray;
    font-size: 25px;
}

#credits.hover,#credits:hover {
    color: gray;
    transition: color 1.0s;
}

#filler {
    background-color: darkgray;
}
#create {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
    color: darkgray;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    background-color: whitesmoke;
    border-bottom: 3px solid darkgray;
    transition: border 1.0s
}

#create:hover {
    border-bottom: 3px solid gray;
}

textarea {
    width: 1500px;
    height: 725px;
    resize: none;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
    transition: border 1s;
    outline:0px !important;
    -webkit-appearance:none;
}

textarea.focus,textarea:focus,textarea.hover,textarea:hover {
    border: 3px solid darkgray;
    outline:0px !important;
    -webkit-appearance:none;
}