/* {
    margin: 0;
    padding: 0;
}*/

body {
    background-color: #eceff0;
}

p {
    font-family: monospace;
    font-size: 14px;
    color: white;
    background-color: coral;
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
}

#title-1 {
    font-size: 48px;
    font-family: fantasy;
    color: coral;
    text-shadow: 3px 3px dimgray;
}

#title-2 {
    font-size: 14;
    font-family: monospace;
    color: white;
    background-color: lightcoral;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: white;
    border: 5px dotted coral;
}

#input-message-text {
    border: none;
    border-bottom: 5px coral solid;
    resize: none;
}

#input-message {
    display: inline-block;
    background-color: white;
    //margin-top: 100px;
    border: 5px coral outset;
    margin-bottom: 100px;
}

#submit-message {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    color: dimgray;
    letter-spacing: 1px;
    border: 3px outset coral;
    margin-bottom: 5px;
}

.list {
    display: inline-block;
    background-color: white;
    margin-top: 120px;
    border-top: 5px solid coral;
    border-left: 5px solid coral;
    border-right: 5px solid coral;
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
}

#subtitle {
    font-size: 36;
    font-family: fantasy;
    color: coral;
    text-shadow: 3px 3px dimgray;
    margin-left: 50px;
    margin-right: 50px;
}

#item {
    //position: absolute;
    color: dimgray;
    border: 3px dotted lightgray;
    //margin-left: 20px;
    //margin-right: 20px;
    margin-bottom: 50px;
}

#user {
    //position: absolute;
    font-family: fantasy;
    color: gray;
    background-color: #eceff0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    /*position: relative;
    margin-top: -40px;
    height: 40px;
    clear: both;*/
    
    background-color: white;
    border: none;
    border-top: 3px solid coral;
}

#login-information {
    margin-top: 5px;
}

#login-intro {
    font-size: 20;
    color: coral;
    text-shadow: 2px 2px dimgray;
    font-family: fantasy;
    letter-spacing: 3px;
}

#username {
    border: none;
    //border-right: 3px ridge coral;
    border-bottom: 3px dashed coral;
    margin-right: 10px;
}

#password {
    border: none;
    //border-left: 3px ridge coral;
    border-bottom: 3px dashed coral;
    margin-right: 10px;
}

#submit-login {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    font-family: monospace;
    font-size: 15px;
    color: dimgray;
    letter-spacing: 1px;
    border: 3px outset coral;
    margin-bottom: 5px;
}

#enter {
    margin: none;
}

#divider {
    color: coral;
    font-family: fantasy;
}